## Second assignment
### part 1

In [179]:
import requests
import lxml.html as lh
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')
tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighborhood
"

In [180]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=3:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1

Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [181]:
df.head()

  Postal Code\n           Borough\n               Neighborhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [182]:
df.columns = ['Postcode','Borough', 'Neighbourhood',]
#cols = df.columns.tolist()
#cols
#cols = cols[-1:] + cols[:-1]
#df = df[cols]
df.head()

  Postcode             Borough                Neighbourhood
0    M1A\n      Not assigned\n               Not assigned\n
1    M2A\n      Not assigned\n               Not assigned\n
2    M3A\n        North York\n                  Parkwoods\n
3    M4A\n        North York\n           Victoria Village\n
4    M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [183]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [184]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True)
df = df.reset_index(drop=True)
df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [193]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head()

  Postcode       Borough                            Neighbourhood
1     M1B   Scarborough                           Malvern, Rouge
2     M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
3     M1E   Scarborough        Guildwood, Morningside, West Hill
4     M1G   Scarborough                                   Woburn
5     M1H   Scarborough                                Cedarbrae